[logger_root]
level: info
handlers: h1

[logger_www]
pattern: LogService
level: trace
handlers: www

[handler_h1]
level: trace
class: ConsoleHandler
formatter: f1

[handler_www]
level: trace
class: FileHandler
path: access.log
append: true
formatter: www

[formatter_f1]
class: DefaultFormatter
format: [%h:%m:%s:%S %z] (%l) %N: %t

[formatter_www]
class: DefaultFormatter
format: %t